@import url(https://fonts.googleapis.com/css?family=Nova+Mono);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Nunito);

body, html {
  cursor: none; font-family:'Gill Sans', 'Gill Sans MT', Lato, Calibri, sans-serif;
  height:100%;
  margin:0;
  overflow:hidden;
  text-align:center;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

* {
}

.tom {
  background-image: url(https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAfzAAAAJDRjMDk2MjQ4LWFjMzgtNDc2Ni05MWQ4LWFkNjlmZjhhMmIyZA.jpg);
  background-repeat: repeat;
}

body.normal {
  background-color:#9325b2;
  color:#FFF;
  font-size:500%;
  font-family: Nunito, Arial !important;
}

body.news {
  background-color:#BB1919;
  color:#F2EFEC;
  font-size:200%;
  padding:0 3em;
}

body.news .normal,body.normal .news {
  display:none;
}

div {
  align-items:center;
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:center;
}
#js-unix { display: none; }
#js-clock { font-family: 'Nova Mono', Arial, sans-serif; }
ul { list-style-type: none; }
#js-headline {
  font-size: 200%;
}
.not-core {
  font-style: italic;
}
.normal .loading {
  color: #8600af;
}

.weather li:nth-child(1) { font-size: 100%; }
.weather li { font-size: 50%; }

.clock {
  font-size:2em;
}
.clock li {
  display: inline-block;
}
.clock li::before{
  content: ':';
}
.clock li:nth-child(1)::before {
  content: ''
}
.clock li:last-child {
  content: '';
  opacity: 0.3;
  color: black;
  font-size: 0.8em;
}
h1 {
  font-size: 300%;
}
